:root {
    --color-primary: #007bff;
    --color-primary-dark: #0056b3;
    --color-header-bg: #04092C;
    --color-footer-bg: #001f3f;
    --color-bg: #f8f9fa;
    --color-bg-white: #fff;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-2: rgba(0, 0, 0, 0.2);
    --color-text: #333;
    --color-link: #007bff;
    --color-link-hover: #0056b3;
    --color-footer-border: #007bff;
    --color-footer-bottom: #aaa;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: var(--color-header-bg);
    color: var(--color-bg-white);
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: transform 0.3s ease;
    
}

.header.hidden {
    transform: translateY(-100%);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    max-height: 100px;
}

.header-right {
    display: flex; 
    align-items: center; 
    justify-content: end;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: var(--color-bg-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: var(--color-link);
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .btn {
    font-size: 0.9rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav a {
    color: var(--color-bg-white);
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav .btn {
    margin-left: 10px;
    font-size: 1rem;
}

.btn {
    background-color: var(--color-primary);
    color: var(--color-bg-white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-primary-dark);
}

.btn-outline {
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-outline-login {
    color: var(--color-bg-white);
    background-color: var(--color-header-bg);
    border: 1.5px solid var(--color-bg-white);
}

.btn-outline:hover {
    background-color: var(--color-primary);
    color: var(--color-bg-white);
}
.btn-picks {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.search-bar {
    background-color: var(--color-header-bg);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px var(--color-shadow);
}

.search-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    background-color: var(--color-bg-white);
    padding: 0.625rem 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.3125rem var(--color-shadow);
}

.search-bar input[type="text"],
.search-bar input[type="date"] {
    padding: 0.625rem 0.9375rem;
    border: 0.0625rem solid #ddd;
    border-radius: 1.5625rem;
    width: 12.5rem;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-bar input[type="text"]:focus,
.search-bar input[type="date"]:focus {
    border-color: var(--color-link);
}

.search-bar .btn {
    background-color: var(--color-primary);
    color: var(--color-bg-white);
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 1.5625rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.search-bar .btn:hover {
    background-color: var(--color-primary-dark);
}