:root {
    --color-bg-white: #fff;
    --color-bg: #f8f9fa;
}

.white-background {
    background-image: linear-gradient(to top, var(--color-bg-white) 25%, transparent 100%);
    width: 100%;
    height: 200px;
    z-index: 100; /* bem acima do padrão */
    position: relative; /* para sobrepor o que está acima */
    margin-top: -120px; /* sobe e sobrepõe o conteúdo acima */
    pointer-events: none; /* não bloqueia clique do conteúdo abaixo, se necessário */
    margin-bottom: 40rem;

}
.white-background-bottom {
    position: absolute;
    bottom: 20px;
    left: 500px;
    pointer-events: auto; /* botão continua clicável */
    margin-bottom: 40rem;

}