:root {
    --color-bg-white: #fff;
    --color-bg: #f8f9fa;
}

.white-background {
    background: rgba(255,255,255,0.85);
    width: 100vw;
    height: 200px;
    z-index: 100;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    pointer-events: auto;
    transition: opacity 0.3s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 -2px 16px rgba(0,0,0,0.05);

}

.white-background-bottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
    margin-bottom: 0;
}